
.navList {
  text-align: center;
  display: inline;
  margin: 20px;
}
nav {
  margin-top: 20px;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
margin-left: 0px;
padding: 0;
text-align: center;
}

.quizSection {
  width: 300px;
  height: 300px;
  margin: auto;
}

.quizButton {
  width: 200px;
  height: 100px;
  background-color: gray;
  border: 10px solid red;
  margin: 100px auto 100px auto;
  text-align: center;
  color: black;

}

.quizButton p {

}

div .responses {
  width: 200px;
  height: 100px;
  background-color: gray;
}

button {
  margin: center;
}
