/* navList will center horizontally*/
.navList {
  text-align: center;
  display: inline;
  margin: 20px;
  }

nav ul {
  text-align: center;
  padding-left: 0;
  color: #669999
}

footer ul {
  text-align: center;
  padding-left: 0;
}

section ul {
  margin: auto;
  width: 300px;
}

h1 {
  padding-top: 20px;
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
  color:#996633
}

.quizButton {
  width: 200px;
  height: 100px;
  background-color: gray;
  border: 10px solid red;
  margin: 100px auto 100px auto;
  text-align: center;
  color: black;
}

button {
  margin-top: 35px;
}

footer {
  padding-top: 20px;
}

section li {
  margin: 5px;
}
