body {
  background-color: #ebebe0;}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
  margin: 0px;
  z-index: 10;
  background-color: #d3d3d3;}
h1 {
  padding-top: 5px;
  text-align: center;
  color: red;}
h2 {
  text-align: center;
  color:#996633;}
section {
  position: relative;
  top: 175px;}
button {
  position: inline-block;
  margin-top: 35px;}
footer {
  position: relative;
  top: 175px;
  padding-top: 20px;
  text-align: center;}
section h3 {
  text-align: center;
  color:#566B2F;}
nav ul {
  text-align: center;
  padding-left: 0px;
  color: #669999;}
section ul {
  margin: auto;
  width: 300px;}
section ol {
    margin: auto;
    width: 300px;}
section li {
  margin: 5px;}
section ul li{
  margin: 7px;}
section ol li {
  margin-left: 10px;}
.navList {
  text-align: center;
  display: inline;
  margin: 20px;}
.quizButton {
    width: 200px;
    height: 100px;
    background-color: gray;
    border: 10px solid red;
    margin: 10px auto 10px auto;
    text-align: center;
    color: black;}
